/*-----------------------------------------------*/
/*				Colours						     */
/*-----------------------------------------------*/

$color-main: #241438;
$color-red: #6d182e;
$color-red-light: #b84648;
$color-blue: #3f4cd7;
$color-blue-light: #77a8f8;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

/*-------------------------------*/
/*				Z-index			 */
/*-------------------------------*/

$z-index: (
  very-high: 10012,
  high: 10010,
  top: 999,
  middle: 800,
  lower: 100
);

/*-----------------------------------------------*/
/*				Fonts						                       */
/*-----------------------------------------------*/

$font-primary: "Century Gothic", Helvetica, Arial, sans-serif;
$font-headings: "Helvetica", sans-serif;

/*-----------------------------------------------*/
/*					Dimensions           		 */
/*-----------------------------------------------*/
$max-width: 1300px;
$gutter: 40px;

/*-----------------------------------------------*/
/*					Grid Definition     		 */
/*-----------------------------------------------*/

$screen-4k: 2560px;
$desktop: 1300px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 480px;
