html {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links

a {
  color: white; // please i can't look at that ugly blue
  text-decoration: none;
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: underline;
  }
}

// External links
.external:after {
  content: " 🌐";
}

// Headings

h2 {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.mega-rainbow {
  font-family: $font-headings;
  // color: $color-main;
  color: rgb(255, 95, 56);
  text-align: center;
  // background: linear-gradient(
  //   to right,
  //   rgb(255, 255, 255) 0%,
  //   rgb(252, 218, 159) 10%,
  //   rgb(255, 95, 56) 42%,
  //   rgb(192, 37, 51) 70%
  // );
  // -webkit-text-stroke: 3px rgba(255, 255, 255, 0.01);
  // text-stroke: 3px rgba(255, 255, 255, 0.01);
  // -webkit-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 2px;
  // text-shadow: 0 0 2px #000;
}

h3 {
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

// Tribute Text

.tribute-text {
  width: 640px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
}
