html {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links

a {
  color: white; // please i can't look at that ugly blue
  text-decoration: none;
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: underline;
  }
}

// External links
.external:after {
  content: " 🌐";
}

// Headings

h2 {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.mega-rainbow {
  font-family: $font-headings;
  // color: $color-main;
  color: rgb(255, 95, 56);
  text-align: center;
  // background: linear-gradient(
  //   to right,
  //   rgb(255, 255, 255) 0%,
  //   rgb(252, 218, 159) 10%,
  //   rgb(255, 95, 56) 42%,
  //   rgb(192, 37, 51) 70%
  // );
  // -webkit-text-stroke: 3px rgba(255, 255, 255, 0.01);
  // text-stroke: 3px rgba(255, 255, 255, 0.01);
  // -webkit-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 2px;
  // text-shadow: 0 0 2px #000;
}

h3 {
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

// Tribute Text

.tribute-text {
  width: 640px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
}

.page-title-wrapper {
  padding: calc(var(--gutter) * 2.5) 0;
  grid-column: container;
  margin-top: 80px;

  small {
    margin: 0 auto 10px;
    text-transform: uppercase;
    font-family: var(--font-shentox);
    font-size: 18px;
    display: block;
    text-align: center;
  }

  h1 {
    margin: 0 0 calc(var(--gutter) / 2) 0;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 55px;
  }

  p {
    line-height: 27px;
    font-size: 20px;
    font-family: var(--font-glacial);
    font-weight: 300;
    color: white;
  }
}

.full-section-container {
  margin-bottom: 50px;
}

.section-title-wrapper {
  margin-bottom: calc(var(--gutter) * 1);
  grid-column: container;

  small {
    margin: 0 auto 10px;
    text-transform: uppercase;
    font-family: var(--font-shentox);
    font-size: 18px;
    text-align: center;
    display: block;
  }

  h2,
  h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 55px;
    font-family: var(--font-glacial);
    color: white;
    font-weight: 900;
    text-align: center;
  }

  p {
    line-height: 25px;
    font-size: 18px;
    font-family: var(--font-glacial);
    font-weight: 300;
    color: white;
  }
}

small {
  color: $color-blue-light;
}

.section-description-wrapper,
.content-wrapper {
  grid-column: container;

  p {
    font-family: var(--font-glacial);
    color: var(--color-white);
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: var(--gutter);
    // color: rgba(255, 255, 255, 1);
    // text-shadow: 0 1px 4px rgba(0, 0, 0, 0.99);

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
}

@media (max-width: $tablet) {
  .section-title-wrapper {
    h2 {
      font-size: 45px;
      line-height: 50px;
    }
  }

  .section-description-wrapper {
  }
}

@media (max-width: $tablet-portrait) {
  .section-description-wrapper {
  }
}

@media (max-width: $mobile) {
  .section-title-wrapper {
    h2 {
      font-size: 35px;
      line-height: 40px;
    }
  }

  .section-description-wrapper {
  }
}
